nav {
  background-color: #1976d2;
  color: white;
  padding: 15px;
}

nav h2 {
  display: inline;
  margin-right: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}